

<!-- <form class="example-form text-center" >
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" 
           >
      
    </mat-form-field>
  </form> -->


  <!-- <form>
    
     <div class="ft-heading-md">
      User Name
     </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

  <div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
            
          <form>

   
    
       
           <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
  </div>