
<div class="row justify-content-center">
    <!-- <div class="col-md-5 border-0 card ft-card-center p-0" style="margin-top:20px;"> -->
        <div class="card-body">
            <div class="row ft-footer">
                <div class="col-md-8">
                    <div>2021 Fintuple, Inc. All rights reserved.</div>
                </div>
                <div class="col-md-4 text-right">
                    Disclaimer | Privacy Policy | Terms of Use
                </div>
            </div>

          
      
        <!-- </div> -->
    </div>
</div>