<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-8 border-0 card ft-card-center p-0">
        <div class="card-body">

            <div class="text-center  ft-portlet-title brand-text-color">
                Basic Details
            </div>
            <div class="text-center pt-2 ft-portlet-title-desc brand-text-desc-color">
                Fill the Basic Information to begin with Investor Profile.
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">PAN <span class="red-required text-danger"> *</span></div>
                              
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label"> Full Name <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">Date of Birth <span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                      
                </div>
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">Mobile Number  <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit row">
                                    <div class="col-md-4">
                                       <select class="col-md-12 ft-select">
                                        <option>IND</option>
                                        <option>ENG</option>
                                        <option>USA</option>
                                       </select>
                                    </div>
                                   
                                    <div class="col-md-8 pl-2">
                                        <input class="col-md-12  upper-case ft-input-value" type="text" />
                                    </div>
                                   
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label"> Email Address  <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                      
                </div>

                <div class="col-md-4">
                   
                </div>
            </div>


            <div class="text-center pt-4">
               <a href="kyc1"><button  class="btn-primary brand-bg-primary">Save & Next</button></a>
            </div>

            

         
                <div class="ft-note brand-text-color">
                    Note:
                </div>
                <ul class="ft-note-desc brand-text-desc-color" style="padding-left: 18px;"> 
                    <li> Enter the Investor(s) Mobile Number that is registered with Aadhaar (UIDAI).</li>
                    <li> Enter Date of Birth as per PAN.</li>
                    <li>  Email Address cannot be changed for currently logged in users.</li>
                    <li> All other Investor Profile-related communication will be sent to the given Email
                        Address and Mobile Number. These details cannot be changed once the application is filled and pushed to the next.</li>
                </ul>
           
           
           
           
           
      
            

            

        </div>
    </div>
</div>



