<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>


<!-- stepper -->
<!-- <div class="wrapper">
    <ol class="c-stepper">
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Step 1</h3>
      </li>
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Step 2</h3>
      </li>
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Step 3</h3>
      </li>
    </ol>
  </div> -->

<!-- Stepper 2 -->
<!-- 
<div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Basic Details</h3>

        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Kyc</h3>

        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Profile</h3>

        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Documents</h3>

        </li>
    </ol>
</div> -->




<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:80px;">
        <div class="card-body">

            <div class="text-center  ft-head">
                Basic Details
            </div>
            <div class="text-center pt-2 ft-desc">
                Fill the Basic Information to begin with Investor Profile.
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-heading-md">PAN <span class="red-required text-danger"> *</span></div>
                              
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-heading-md"> FULL NAME <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-heading-md">DATE OF BIRTH <span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                      
                </div>
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-heading-md">MOBILE NUMBER  <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit row">
                                    <div class="col-md-4">
                                       <select class="col-md-12 ft-select1">
                                        <option>IND</option>
                                        <option>ENG</option>
                                        <option>USA</option>
                                       </select>
                                    </div>
                                   
                                    <div class="col-md-8 pl-2">
                                        <input class="col-md-12  upper-case ft-input-value" type="text" />
                                    </div>
                                   
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-heading-md"> EMAIL ADDRESS  <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                      
                </div>

                <div class="col-md-4">
                   
                </div>
            </div>


            <div class="text-center pt-4">
                <button  class="ft-button-primary"><a href="kyc1">Save & Next</a> </button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="row pt-2">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                    Enter the Investor(s) Mobile Number that is registered with Aadhaar (UIDAI).
                </div>
            </div>

          
            <div class="row pt-1">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                    Enter Date of Birth as per PAN.
                </div>
            </div>

           
            <div class="row pt-1">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                    Email Address cannot be changed for currently logged in users.
                </div>
            </div>

          
            <div class="row pt-1">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                    All other Investor Profile-related communication will be sent to the given Email
                    Address and Mobile Number. These details cannot be changed once the application is filled and pushed to the next.
                </div>
            </div> 

        </div>
    </div>
</div>



<app-footer></app-footer>