<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>



<!-- Stepper -->



  <div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
            <div class="text-center  ft-head">
                PROFILE
            </div>

            <p-tabView>

                <p-tabPanel header="First Tab >>>>>">
                    <p>First Tab</p>
                </p-tabPanel>
                <p-tabPanel header="Second Tab >>>>">
                    <p>Second Tab</p>
                </p-tabPanel>
                <p-tabPanel header="Third Tab >>>>">
                    <p>Third Tab</p>
                </p-tabPanel>
                <p-tabPanel header="Fourth Tab">
                    <p>Fourth Tab</p>
                </p-tabPanel>

            </p-tabView>

            <div class="ft-desc text-center pt-3">
                Complete the Investor’s Occupation, Education & Income Details
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    GROSS ANNUAL INCOME (IN INR) <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>5 - 10 LACS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    AS ON (NOT OLDER THAN 1 YEAR) <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    SOURCE OF FUNDS <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>OTHERS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    EDUCATIONAL QUALIFICATION <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>OTHERS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    NET WORTH (IN INR)  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    AS ON (NOT OLDER THAT 1 YEAR)   <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    BRIEF DETAILS OF OCCUPATION  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>OTHERS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
                <div class="col-md-3">
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    OCCUPATIONAL INDUSTRY <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>OTHERS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>


            <div class="row mt-4 justify-content-center">
                <div class="col-md-3 ft-heading-md">
                    POLITICALLY EXPOSED <span class="red-required text-danger"> *</span>
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        POLITICALLY EXPOSED PERSON
                    </label>
                    </div>
                </div>
                    <div class="col-md-3"></div>
            </div>

            <div class="row  justify-content-center">
                <div class="col-md-3 ft-heading-md">
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        RELATED TO POLITICALLY EXPOSED
                    </label>
                    </div>
                </div>
                    <div class="col-md-3"></div>
            </div>

            <div class="row  justify-content-center">
                <div class="col-md-3 ft-heading-md">
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        NOT APPLICABLE
                    </label>
                    </div>
                </div>
                    <div class="col-md-3"></div>
            </div>


             <!-- Radio button second -->

             <div class="row mt-4 justify-content-center">
                <div class="col-md-3 ft-heading-md">
                    EMPLOYEMENT STATUS  <span class="red-required text-danger"> *</span>
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        EMPLOYED
                    </label>
                    </div>
                </div>
                    <div class="col-md-3"></div>
            </div>

            <div class="row  justify-content-center">
                <div class="col-md-3 ft-heading-md">
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        SELF EMPLOYED / BUSINESS / PROF / OTHERS
                    </label>
                    </div>
                </div>
                    <div class="col-md-3"></div>
            </div>

            <div class="row  justify-content-center">
                <div class="col-md-3 ft-heading-md">
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        NONE
                    </label>
                    </div>
                </div>
                    <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    EMPLOYER NAME    <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-7">
                    <input type="text" class="ft-input-value" />
                </div>
                <!-- <div class="col-md-3"></div> -->
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    OFFICE ADDRESS    
                </div>
                <div class="col-md-7">
                    <input type="text" class="ft-input-value" />
                </div>
                <!-- <div class="col-md-3"></div> -->
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                   PIN CODE   
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    COUNTRY
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>IND</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    STATE
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    CITY / TOWN / VILLAGE 
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    CITY / TOWN / VILLAGE 
                </div>
                <div class="col-md-1">
                    <input type="text" placeholder="+91" class="ft-input-value" />
                </div>
                <div class="col-md-3">
                    <input type="text"  class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-3 ft-heading-md">
                    TEL (OFF)
                </div>
                <div class="col-md-7">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="text-center pt-4">
                <button class="ft-button">Save & Next</button>
            </div>


        </div>
    </div>
  </div>


  <div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">

            <div class="text-center  ft-head">
                PROFILE
            </div>

            <div class="ft-desc">
                Complete the FATCA Information pretaining to your tax residency status. It is mandatory for Investor’s to disclose any 
                foreign citizenship, contact information, and/or foreign tax residency details for this investment
            </div>

            <div class="ft-sub-heading">
                PART - A
            </div>
            <hr />

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-4 ft-heading-md">
                    ADDRESS FOR TAX RESIDENCE  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-7">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    AS ON (NOT OLDER THAN 1 YEAR)  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row mt-4  justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Are you Citizen of any other country other than India(dual/multiple)?[including Greencard] <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>

            <div class="row   justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Is your Country of Birth any country other than India? <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Are you a Tax Resident of any country other than India?  <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Do you have a POA/mandate holder who had an address outside of India?  <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Is your Address/Telephone Number outside of India?  <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>

            <div class="row justify-content-center m-auto pt-3">
                <div class="col-md-12 ft-checkbox">
                       <label class="ft-desc pl-1">
                        I declare/I am authorised to declare that the above information and information in the 
                        submitted documents, to be true, correct, and updated, and the submitted documents are 
                        genuine and duly executed. I acknowledge/I am authorised to acknowledge that towards compliance 
                        with tax information-sharing laws, such as FATCA/CRS, the SEBI authorised intermediary may be 
                        required to seek additional personal, tax, and beneficial owner information and certain certifications
                         and documentation from the Account Holder. Such information may be sought either at the time of account 
                         opening or any time subsequently. In certain circumstances (including if the intermediary does not receive 
                         a valid self-certification from the Holder) the Intermediary may be obliged to share information on Holder’s
                          Account with relevant tax authorities. Should there be any change in any information provided, ensure that
                           the Holder will intimate the Institution promptly, i.e., within 30 days.
                        Towards compliance with such laws, the Intermediary may also be required to provide information 
                        to any institutions such as withholding agents for the purpose of ensuring appropriate withholding 
                        from the account or any proceeds in relation thereto. As may be required by domestic or overseas 
                        regulators/ tax authorities, the Intermediary may also be constrained to withhold payout of any sums 
                        from the Holder’s Account or close or suspend the Holder’s Account.
                        I also understand that the account will be reported if any one of the aforesaid 
                        FATCA/CRS criteria for any of the Account Holders, i.e., Primary or Joint, is met.
                              <input type="checkbox" class="checkbox">
                              <span class="checkmark"></span>
                       </label>
            </div>
         </div>

         <div class="text-center pt-4">
            <button class="ft-button">Save & Next</button>
        </div>

        <hr />

        <div class="ft-note-heading">
            Note:
        </div>
        <div class="ft-note-desc1">
            If the answer to any of the questions in Part A is ‘Yes’, complete Part B as well.
        </div>

        </div>
    </div>
  </div>



  <div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">

            <div class="text-center  ft-head">
                PROFILE
            </div>

            <div class="ft-desc">
                Complete the FATCA Information pretaining to your tax residency status. It is mandatory for Investor’s to disclose any 
                foreign citizenship, contact information, and/or foreign tax residency details for this investment
            </div>

            <div class="ft-sub-heading">
                PART - A
            </div>
            <hr />

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-4 ft-heading-md">
                    ADDRESS FOR TAX RESIDENCE  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-7">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    AS ON (NOT OLDER THAN 1 YEAR)  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row mt-4  justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Are you Citizen of any other country other than India(dual/multiple)?[including Greencard]  <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>

            <div class="row   justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Is your Country of Birth any country other than India?  <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Are you a Tax Resident of any country other than India?   <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Do you have a POA/mandate holder who had an address outside of India?  <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row justify-content-center">
                <div class="col-md-9 ft-heading-md">
                    Is your Address/Telephone Number outside of India? * <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="ft-sub-heading">
                PART - B
            </div>
            <hr />

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    SOURCE OF WEALTH   <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    NATIONALITY  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>SELECT</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    PLACE OF BIRTH    <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    COUNTRY OF BIRTH <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>SELECT</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="ft-sub-heading">
                OTHER DETAILS <span class='material-icons' style="float: right;">add</span>
            </div>
            <hr />

            <div class="ft-desc-option">
                Option 1 <span class='material-icons' style="float: right;">delete</span>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    COUNTRY OF TAX RESIDENCE  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>SELECT</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    TAX ID NUMBER  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>SELECT</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="ft-desc-option">
                Option 2 <span class='material-icons' style="float: right;">delete</span>
            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    COUNTRY OF TAX RESIDENCE  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>SELECT</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <div class="row justify-content-center pt-3">
                <div class="col-md-4 ft-heading-md">
                    TAX ID NUMBER  <span class="red-required text-danger">*</span>
                </div>
                <div class="col-md-4">
                    <select class="ft-select1">
                        <option>SELECT</option>
                        <option>ENG</option>
                    </select>
                </div>
                <div class="col-md-3"></div>

            </div>

            <hr />

            <div class="ft-desc ft-desc-option">
                It is madatory to supply a TIN or functional equivalent (in case TIN not available) if the country in which you 
                are tax resident issues such identifiers. if no TIN / functional 
                equivalent is yet available  or has not yet been issued, please provide an explanation  below:
            </div>

            <div class="ft-desc-border"></div>
            

            <div class="row justify-content-center m-auto pt-3 " >
                <div class="col-md-12 ft-checkbox" style="margin-left: 40px;margin-right:40px">
                       <label class="ft-desc pl-1">
                        I declare/I am authorised to declare that the above information and information in the 
                        submitted documents, to be true, correct, and updated, and the submitted documents are 
                        genuine and duly executed. I acknowledge/I am authorised to acknowledge that towards compliance 
                        with tax information-sharing laws, such as FATCA/CRS, the SEBI authorised intermediary may be 
                        required to seek additional personal, tax, and beneficial owner information and certain certifications
                         and documentation from the Account Holder. Such information may be sought either at the time of account 
                         opening or any time subsequently. In certain circumstances (including if the intermediary does not receive 
                         a valid self-certification from the Holder) the Intermediary may be obliged to share information on Holder’s
                          Account with relevant tax authorities. Should there be any change in any information provided, ensure that
                           the Holder will intimate the Institution promptly, i.e., within 30 days.
                        Towards compliance with such laws, the Intermediary may also be required to provide information 
                        to any institutions such as withholding agents for the purpose of ensuring appropriate withholding 
                        from the account or any proceeds in relation thereto. As may be required by domestic or overseas 
                        regulators/ tax authorities, the Intermediary may also be constrained to withhold payout of any sums 
                        from the Holder’s Account or close or suspend the Holder’s Account.
                        I also understand that the account will be reported if any one of the aforesaid 
                        FATCA/CRS criteria for any of the Account Holders, i.e., Primary or Joint, is met.
                              <input type="checkbox" class="checkbox">
                              <span class="checkmark"></span>
                       </label>
            </div>
         </div>

         <div class="text-center pt-4">
            <button class="ft-button">Save & Next</button>
        </div>

        <hr />

        <div class="ft-note-heading">
            Note:
        </div>
        <div class="ft-note-desc1">
            If the answer to any of the questions in Part A is ‘Yes’, complete Part B as well.
        </div>



        </div>
    </div>
  </div>


  <div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">

            <div class="text-center  ft-head">
                PROFILE
            </div>

            <div class="ft-desc text-center">
                Provide the Bank account(s) details that will be used for this investment
            </div>

            <div class="ft-sub-heading">
                OTHER DETAILS <span class='material-icons' style="float: right;">add</span>
            </div>
            <hr />


            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">NAME</th>
                    <th scope="col">ACCOUNT NUMBER</th>
                    <th scope="col">IFSC CODE</th>
                    <th scope="col">BANK NAME</th>
                    <th scope="col">ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr class="table-body">
                    <th scope="row">RAJAPANDIAN</th>
                    <td>120001891789</td>
                    <td>IDIB000A009</td>
                    <td>@INDIAN BANK</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                  <tr class="table-body">
                    <th scope="row">RAJAPANDIAN</th>
                    <td>75245863258654</td>
                    <td>IDIB000A009</td>
                    <td>KOTAK MAHINDRA BANK</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="row justify-content-center m-auto pt-3">
                <div class="col-md-12 ft-checkbox">
                       <label class="ft-desc pl-1">
                               I hereby confirm / I am authorised to confirm that the bank account details provided by me,
                                can be used  for processing /proceeding  any  payouts like redemptions, etc 
                              <input type="checkbox" class="checkbox">
                              <span class="checkmark"></span>
                       </label>
            </div>
         </div>

         <div class="text-center pt-4">
            <button class="ft-button" data-toggle="modal" data-target="#exampleModal">Save & Next</button>
        </div>

        <hr />

        <div class="ft-note-heading">
            Note:
        </div>
        <div class="ft-note-desc1">
            The Investor must be the first/second beneficiary of the bank account shared. 
            The bank account will be verified using a penny drop validation. More than one bank account can be added
        </div>


          
          
       
       


        </div>
    </div>
  </div>


 

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" class="ft-sub-heading">BANK ACCOUNT DETAILS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
             
            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    FIRST BENEFICIARY NAME   <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    SECOND BENEFICIARY NAME  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    ACCOUNT TYPE   <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    ACCOUNT NUMBER    <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    IFSC CODE   <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            
            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    MICR NUMBER  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    BANK NAME *  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    BANK BRANCH  <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    BANK ADDRESS   <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-5">
                    <input type="text" class="ft-input-value" />
                </div>

            </div>

            <div class="text-center pt-4">
                <button class="ft-button">Verify</button>
            </div>
            

        </div>

     
      </div>
    </div>
  </div>


  <div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">

            <div class="text-center  ft-head">
                PROFILE
            </div>

            <div class="ft-desc">
                Complete the nomination details for the Profile in the section below. 
                Investor (s) have the option to choose multiple nominee for the profile
            </div>

            <div class="row pt-2">
                <div class="col-md-6 ft-heading-md">
                    Is your Country of Birth any country other than India? <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-1">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">YES</label><br />
                    </div>
                  
                </div>

                <div class="col-md-1">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom " >
                            NO
                        </label>
                    </div> 
                </div>
           
            </div>

            <div class="ft-sub-heading">
                NOMINEE DETAILS <span class='material-icons' style="float: right;">add</span>
            </div>
            <hr />



            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">NOMINEE NAME</th>
                    <th scope="col">DATE OF BIRTH</th>
                    <th scope="col">GUARDIAN,IF MINOR</th>
                    <th scope="col">MOBILE NUMBER</th>
                    <th scope="col">EMAIL ADDRESS</th>
                    <th scope="col"> ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr class="table-body">
                    <th scope="row">RAMESH</th>
                    <td>01-09-1995</td>
                    <td>N/A</td>
                    <td>+91-9840934678</td>
                    <td>RAMESH@GMAIL.COM</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                  <tr class="table-body">
                    <th scope="row">RAMESH</th>
                    <td>01-09-1995</td>
                    <td>N/A</td>
                    <td>+91-9840934678</td>
                    <td>RAMESH@GMAIL.COM</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="text-center pt-4">
                <button class="ft-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Next</button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="ft-note-desc1">
                The Primary holder must be the first/second beneficiary of the bank account shared. 
                The bank account will be verified using a penny drop validation.
            </div>

           

        </div>
    </div>
  </div>


 
<!-- Modal -->

  
 
<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
 
            <div class="text-center  ft-head">
                DOCUMENTS
            </div>

            <div class="ft-desc text-center">
                This section allows you to upload any documents associated to the customer profile.
            </div>


            <div class="ft-sub-heading">
                DOCUMENT UPLOAD<span class='material-icons' style="float: right;">add</span>
            </div>
            <hr />



            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">DOCUMENT TYPE</th>
                    <th scope="col">ID/NUMBER</th>
                    <th scope="col"> ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr class="table-body">
                    <th scope="row">PAN <span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                  <tr class="table-body">
                    <th scope="row">POI</th>
                    <td>773JHH2H2H2</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="text-center pt-4">
                <button class="ft-button" > Next</button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="ft-note-desc1">
                Upload a clear image/PDF such that relevant details and document is clearly visible. The size of the document should not be more than ## KB/MB.
            </div>

        </div>
    </div>
</div>



<!-- Modal -->



<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
 
            <div class="text-center  ft-head">
                DOCUMENTS
            </div>

            <div class="ft-desc text-center">
                This section allows you to upload the documents associated to the customer profile.
            </div>


            <div class="ft-sub-heading">
                DOCUMENT UPLOAD<span class='material-icons' style="float: right;">add</span>
            </div>
            <hr />



            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">DOCUMENT TYPE</th>
                    <th scope="col">ID/NUMBER</th>
                    <th scope="col"> ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr class="table-body">
                    <th scope="row">PAN <span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                  <tr class="table-body">
                    <th scope="row">POI</th>
                    <td>773JHH2H2H2</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="text-center pt-4">
                <button class="ft-button" > SUBMIT</button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="ft-note-desc1">
                Upload a clear image/PDF such that relevant details and document is clearly visible. The size of the document should not be more than ## KB/MB.
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>
            

        </div>
    </div>
</div>

<!-- modal -->




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
