
<!-- <app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar> -->


  <!-- Stepper Start -->
<div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Basic Details</h3>

        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Kyc</h3>

        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title">Profile</h3>

        </li>
        <li class="c-stepper__item">
            <h3 class="c-stepper__title status-completed">Documents</h3>

        </li>
    </ol>
</div>

<!-- Stepper close -->


<!-- <div class="row justify-content-center page-container pb-3">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-4"> -->
            <div class="text-center  ft-head">
                KYC Information
            </div>
            <div class="ft-desc pt-3">
                Please complete the details given below. If the data is already retrived from
                 the KYC database, kindly review the data, and make any necessary changes before proceeding further.
            </div>

             <div class="ft-sub-heading pb-2">
                IDENTITY DETAILS<span class='material-icons' style="float: right;">edit</span>
             </div>


             <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">PAN <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit ft-form-value">
                                    FGH34567MVB
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">DATE OF BIRTH <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                   20-05-1996
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">  NAME<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                      
                </div>
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label"> MAIDEN NAME<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label"> MOTHER’S MAIDEN NAME <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">FATHER/SPOUSE NAME<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                      
                </div>
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">GENDER<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <select class="col-md-12 ft-select1">
                                        <option>MALE</option>
                                        <option>FEMALE</option>
                                    </select>
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="group">
                        <div class="ft-input-label">MARITAL STATUS<span class="red-required text-danger"> *</span></div>
                       
                        <div class="ft-input-edit">
                            <select class="col-md-12 ft-select1">
                                <option>MARRIED</option>
                                <option>UNMARRIED</option>
                            </select>
                        </div>
            </div>
        </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">NATIONALITY<span class="red-required text-danger">
                                        *</span> </div>
                                        <div class="ft-input-edit">
                                            <div class="row">
                                               <div class="col-md-4">
                                                <select class="ft-select1">
                                                    <option>YES</option>
                                                    <option>NO</option>
                                                </select>
                                               </div>
                                               
                                              <div class="col-md-8">
                                                   <input type="text" class="col-md-12 ft-input-value"/>
                                              </div>
                                            </div>
                                           
                                        </div>
                            </div>
                      
                </div>
            </div>
             

           

          

            


            <div class="ft-sub-heading pb-2" style="border-bottom:1px solid #EEE5FF;">
                ADDRESS DETAILS<span class='material-icons' style="float: right;font-size: 20px;">edit</span>
             </div>

             <div class="ft-sub-heading pb-2">
                CORRESPONDENCE ADDRESS<span class='material-icons' style="float: right;font-size: 20px;">edit</span>
             </div>

             <div class="row pt-3 m-auto">
                <div class="col-md-6 ft-input-label">
                    ADDRESS TYPE <span class="red-requide text-danger"> *</span>
                </div>

                <div class="col-md-3 text-center ">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">RESIDENTIAL</label><br />
                    </div>
                  
                </div>

                <div class="col-md-3 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            OFFICE/BUSINESS
                        </label>
                    </div> 
                </div>
           
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">ADDRESS LINE 1<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">ADDRESS LINE 2 <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">ADDRESS LINE 3<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                </div>
            </div>

           
            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">CITY/TOWN/VILLAGE<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">DISTRICT <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">PINCODE<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                </div>
            </div>
                

            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">STATE<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">COUNTRY <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                            
                </div>
            </div>
            

          

         <!-- <div class="row justify-content-center pt-3"> -->
            <div class="row pt-4 m-auto">
            
            <div class="col-md-7 ft-input-label">
                PERMENENT ADDRESS SAME AS CORRESPONDENCE ADDRESS
            </div>
            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkmark"></span>
            </div>
         </div>
    
         <div class="row pt-3 m-auto">
            <div class="col-md-6 ft-input-label">
                ADDRESS TYPE <span class="red-requide text-danger"> *</span>
            </div>

            <div class="col-md-3 text-center ">
                <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                    <label class="form-check-label ft-radio-custom ">RESIDENTIAL</label><br />
                </div>
              
            </div>

            <div class="col-md-3 text-center">
                <div class="form-check form-check-inline"> 
                    <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                    <label class="form-check-label ft-radio-custom ">
                        OFFICE/BUSINESS
                    </label>
                </div> 
            </div>
       
        </div>

            <div class="ft-sub-heading pb-2">
                PERMANENT ADDRESS<span class='material-icons' style="float: right;">edit</span>
             </div>

             <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">ADDRESS LINE 1<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">ADDRESS LINE 2 <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">ADDRESS LINE 3<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                </div>
            </div>

           
            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">CITY/TOWN/VILLAGE<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">DISTRICT <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">PINCODE<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                            </div>
                </div>
            </div>
                

            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">STATE<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">COUNTRY <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                            
                </div>
            </div>

            <div class="ft-sub-heading pb-2" style="border-bottom:1px solid #EEE5FF;">
                CONTACT DETAILS<span class='material-icons' style="float: right;">edit</span>
             </div>

             <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">EMAIL ID<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input type="text" class="col-md-12 ft-input-value" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="group">
                        <div class="ft-input-label">MOBILE NUMBER<span class="red-required text-danger"> *</span></div>
                       
                        <div class="ft-input-edit">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="ft-select1 col-md-12">
                                        <option>+91</option>
                                        <option>IND</option>
                                    </select>
                                </div>
                                
                               <div class="col-md-8">
                                    <input type="text" class="col-md-12 ft-input-value"/>
                               </div>
                             </div>
                        </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="group">
                <div class="ft-input-label"> ALTERNATIVE MOBILE NUMBER</div>
               
                <div class="ft-input-edit">
                    <div class="row">
                        <div class="col-md-4">
                            <select class="ft-select1 col-md-12">
                                <option>+91</option>
                                <option>IND</option>
                            </select>
                        </div>
                        
                       <div class="col-md-8">
                            <input type="text" class="col-md-12 ft-input-value"/>
                       </div>
                     </div>
                </div>
    </div>
</div>
            </div>


            

            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">CITY/TOWN/VILLAGE<span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">DISTRICT <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                    <input class="col-md-12  upper-case ft-input-value" type="text" />
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                          
                </div>
            </div>

            <div class="text-center pt-4">
                <button class="ft-button-primary"><a href="kyc">Save & Next</a></button>
            </div>


        <!-- </div>
    </div>
</div> -->




<app-footer></app-footer>
