
<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-6 border-0 card ft-card-center p-0">
        <div class="card-body">

            <div class="text-center  ft-portlet-title">
                OTP Login
            </div>
            <div class="text-center pt-2 ft-portlet-title-desc">
                You / your advisor has initiated a new application. Prior to submitting the application, you need to complete a few additional steps at your end. To begin this process, identify yourself by providing the appropriate
                details in the text boxes below:
            </div>

            <div class="row m-auto pt-4">
                <div class="col-md-6 border p-2">
                    <div class="ft-input-label pb-1">
                        Application Id
                    </div>
                </div>
                <div class="col-md-6 border p-2">
                    <div class="ft-portlet-title-desc pb-1">
                        WERTYUIJN345678
                    </div>
                </div>
                <div class="col-md-6 border p-2">
                    <div class="ft-input-label pb-1">
                        Application Type
                    </div>
                </div>
                <div class="col-md-6 border p-2">
                    <div class="ft-portlet-title-desc pb-1">
                        DFGHJK0987654
                    </div>
                </div>
                <div class="col-md-6 border p-2">
                    <div class="ft-input-label pb-1">
                        No. of Investors
                    </div>
                </div>
                <div class="col-md-6 border p-2">
                    <div class="ft-portlet-title-desc pb-1">
                        2 (DFGHJKKM)
                    </div>
                </div>
            </div>

            <div class="row justify-content-center pt-4">
                <div class="col-md-6">
                    <input class="col-md-12 ft-input-value upper-case" placeholder="PAN"  type="text"  />
                </div>
            </div>

            <div class="row justify-content-center pt-4">
                <div class="col-md-6">
                    <input class="col-md-12 ft-input-value upper-case" placeholder="DOB [DD-MM-YYYY]"  type="text"  />
                    <span class="material-icons delete-icon">date_range</span>
                </div>
               
            </div>

            <div class="form-check pt-3 mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label ft-checkbox-consent" for="flexCheckDefault">
                    I hereby confirm that I am an applicant in this application as identified above and I am here to
                     verify my application.
                     I authorise this Platform to use my location and my Aadhaar OTP for e-signing the application form(s).
                </label>
              
              
              </div>

              <div class="text-center pt-4" style="margin-top: 30px;">
                <button  class="btn-primary landing-button">Next</button>
            </div>
           

        </div>
    </div>
</div>