<!-- Stepper Start -->

<div class="stepper-section">
  <div class="row col-md-5 d-flex m-auto stepper_btn">
     <div class="col-md-3">
          <a href="basicdetail">
              <button type="button" class="btn btn-stepper">
                  Basic Details
              </button>
          </a>
     </div>
     <div class="col-md-3">
          <a href="kyc1">
              <button type="button" class="btn btn-stepper">
                  KYC
              </button>
          </a>
      </div>
     <div class="col-md-3">
          <a href="kyc">
              <button type="button" class="btn btn-stepper">
                  Profile
              </button>
          </a>
          
    </div>
     <div class="col-md-3">
      <a href="document">
          <button type="button" class="btn btn-stepper stepper-active">
              Document
          </button>
      </a>
     </div>
  </div>
</div>


<!-- Stepper close -->

<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
 
            <div class="text-center  ft-portlet-title brand-text-color">
              Documents
            </div>

            <div class="ft-portlet-title-desc brand-text-desc-color text-center">
              This section allows you to upload any 
              documents required/related to the Investor 
              to complete their Investor Profile.
              
            </div>


            <div class="ft-section-heading brand-text-color">
              Document Upload 
                <span class='material-icons add_btn' style="float: right;" (click)="open2(content2)">add</span>
            </div>
         



            <table class="table table- ">
                <thead>
                  <tr class="ft-table-head">
                    <th scope="col">Document Type</th>
                    <th scope="col">ID/Number</th>
                  
                    <th scope="col" style="width:14%;" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  <tr class="ft-table-body">
                    <th scope="row">PAN <span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                  
                    <td>
                      <!-- <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <span class="material-icons dot-icon">more_horiz</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">view</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div> -->
                      <div class="d-flex justify-content-center">
                        <span class="material-icons action-icon">remove_red_eye</span>
                        <span class="material-icons action-icon">edit</span>
                        <span class="material-icons action-icon">delete</span>
                      </div>
                    </td>
                  </tr>


                  <tr class="ft-table-body">
                    <th scope="row">POI</th>
                    <td>773JHH2H2H2</td>
              
                    <td>
                      <!-- <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <span class="material-icons dot-icon">more_horiz</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">view</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div> -->
                      <div class="d-flex justify-content-center">
                        <span class="material-icons action-icon">remove_red_eye</span>
                        <span class="material-icons action-icon">edit</span>
                        <span class="material-icons action-icon">delete</span>
                      </div>
                    </td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="ft-note brand-text-color">
                Note:
            </div>
            <div class="ft-note-desc brand-text-desc-color">
              Upload a clear image/PDF such that 
              relevant details and document is clearly 
              visible
            </div>

              <div class="text-center pt-4">
                <a href="quickview"> <button class="btn-primary brand-bg-primary" >Proceed</button></a>
            </div>

           

           

        </div>
    </div>
</div>


<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" class="ft-popup-heading text-center brand-text-color">DOCUMENT UPLOAD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
     <span aria-hidden="true" (click)="close()">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div
        class="text-center pt-2 ft-portlet-title-desc brand-text-desc-color"
      >
        Enter the preliminary information to initiate the Investor’s Profile
      </div>
      <!-- <div class="row pt-3 justify-content-center">
        <div class="col-md-4">
            <div class="group">
                <div class="ft-input-label"> Brief Detail of Occupation <span class="red-required text-danger"> *</span></div>
               
                <div class="ft-input-edit">
                    <select class="ft-select">
                        <option>5 - 10 LACS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
    </div>
</div>
        
      </div> -->

        

          <!-- <div class="text-center pt-4">
              <button class="btn-primary"><a (click)="close()">Upload</a></button>
          </div>

          <div class="seperator"></div>

          <div class="ft-note brand-text-color">
            Note:
        </div>
        <div class="ft-note-desc brand-text-desc-color">
            Upload a clear image/PDF such that relevant details and document is clearly visible. The size of the document should not be more than # KB/MB.
        </div> -->
          
 
      </div>

</ng-template>

<app-footer></app-footer>
