<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>

<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
 
            <div class="text-center  ft-head">
                DOCUMENTS
            </div>

            <div class="ft-desc text-center">
                This section allows you to upload any documents associated to the customer profile.
            </div>


            <div class="ft-sub-heading">
                DOCUMENT UPLOAD<span class='material-icons' style="float: right;">add</span>
            </div>
            <hr />



            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">DOCUMENT TYPE</th>
                    <th scope="col">ID/NUMBER</th>
                    <th scope="col">EXPIRY DATE</th>
                    <th scope="col"> ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  <tr class="table-body">
                    <th scope="row">PAN <span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                    <td>N/A</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>


                  <tr class="table-body">
                    <th scope="row">POI</th>
                    <td>773JHH2H2H2</td>
                    <td>N/A</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="text-center pt-4">
                <button class="ft-button" > Next</button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="ft-note-desc1">
                Upload a clear image/PDF such that relevant details and document is clearly visible. The size of the document should not be more than ## KB/MB.
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
