<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>

<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
 
            <div class="text-center  ft-head">
                DOCUMENTS
            </div>

            <div class="ft-desc text-center">
                This section allows you to upload any documents associated to the customer profile.
            </div>


            <div class="ft-sub-heading">
                DOCUMENT UPLOAD<span class='material-icons' style="float: right;" (click)="open2(content2)">add</span>
            </div>
            <hr />



            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">DOCUMENT TYPE</th>
                    <th scope="col">ID/NUMBER</th>
                    <th scope="col">EXPIRY DATE</th>
                    <th scope="col"> ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  <tr class="table-body">
                    <th scope="row">PAN <span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                    <td>N/A</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>


                  <tr class="table-body">
                    <th scope="row">POI</th>
                    <td>773JHH2H2H2</td>
                    <td>N/A</td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

              <div class="text-center pt-4">
                <button class="ft-button-primary" > Next</button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="ft-note-desc1">
                Upload a clear image/PDF such that relevant details and document is clearly visible. The size of the document should not be more than # KB/MB.
            </div>

        </div>
    </div>
</div>


<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" class="ft-sub-heading">DOCUMENT UPLOAD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="close()">&times;</span>
        </button>
      </div>

      <div class="modal-body">

      <div class="row pt-3 justify-content-center">
        <div class="col-md-4">
            <div class="group">
                <div class="ft-heading-md">  BRIEF DETAILS OF OCCUPATION <span class="red-required text-danger"> *</span></div>
               
                <div class="ft-input-edit">
                    <select class="ft-select1">
                        <option>5 - 10 LACS</option>
                        <option>4- 10 LACS</option>
                    </select>
                </div>
    </div>
</div>
        
      </div>

        

          <div class="text-center pt-4">
              <button class="ft-button-primary">Upload</button>
          </div>

          <hr />

          <div class="ft-note-heading">
            Note:
        </div>
        <div class="ft-note-desc1">
            Upload a clear image/PDF such that relevant details and document is clearly visible. The size of the document should not be more than # KB/MB.
        </div>
          

      </div>

</ng-template>

<app-footer></app-footer>
