<div class="row justify-content-center ft_login_wrapper">
    <div class="border-0 card ft-card-center p-0 ft_login_container" >
        <div class="login-body mb-3">
            <div class="text-center ft-portlet-title">
               Login 
              </div>

              <div class="text-center ft-portlet-title-desc mb-3 pt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              </div>

              <div class="row justify-content-center pt-3">

                <div class="col-md-8">
                    <input type="text" placeholder="Email"  class="ft-input-value" />
                </div>

                <div class="col-md-8 pt-4" *ngIf="password">
                    <input type="text" placeholder="Password" class="ft-input-value" />
                   
                </div>
                <span class="material-icons edit-icon">edit</span>
                

              </div>

              <div class="text-center pt-4">
                <button  (click)="Password()" class="btn-primary">Proceed</button>
             </div>
              
            
        </div>
    </div>
</div>
