

 

<div class="row justify-content-center ft_login_wrapper">
    <div class="border-0 card ft-card-center p-0 ft_login_container" >
        <div class="login-body mb-3">
          <div class="text-center pt-3">
            <img class="" src="../../../assets/images/logo.png" alt="loading.." />
          </div>
            <div class="text-center pt-3 ft-portlet-title">
                Reset Password
              </div>

              

              <div class="row justify-content-center pt-3">

                <div class="col-md-8">
                    <input type="password" placeholder="6 number digit OTP"  class="ft-input-value" />
                    <span class="material-icons eye-icon">remove_red_eye</span>
                    <a href="" class="forget_link  px-2" style="float: right;"
                    >Re-sent OTP</a
                  >
                </div>



                <div class="col-md-8 pt-2">
                    <input type="password" placeholder="New Password" class="ft-input-value" />
                    <span class="material-icons  eye-icon">remove_red_eye</span>
                </div>

                <div class="col-md-8 pt-4">
                    <input type="password" placeholder="Confirm New Password" class="ft-input-value" />
                    <span class="material-icons  eye-icon">remove_red_eye</span>
                </div>
               

              </div>

              <div class="text-center pt-3">
                <button   class="btn-primary">Change Password</button>
             </div>
              
             <!-- <div class="ft-portlet-login-desc pt-3">
              New Here? <span><a href="#" class="hyperlink">Create an Account </a></span> 
             </div>

             <div class="ft-portlet-login-desc">Or</div> -->

           
             
             
            
        </div>
    </div>
</div>
