<div class="row justify-content-center ft_login_wrapper">
    <div class="border-0 card ft-card-center p-0 ft_login_container" >
        <div class="login-body mb-3">
          <div class="text-center pt-3">
            <img class="" src="../../../assets/images/logo.png" alt="loading.." />
          </div>
            <div class="text-center pt-3 ft-portlet-title brand-text-color">
                Reset Password
              </div>

              <div class="row justify-content-center pt-3">

                <div *ngIf="!sendotp" class="row justify-content-center pt-3" >
                <div class="col-md-8">
                  <div class="ft-input-label">Email Address</div>
                    <input type="password"   class="ft-input-value" />
                </div>


                <div class="text-center pt-2">
                  <button   class="btn-primary brand-bg-primary" (click)="Sendotp()">Send OTP</button>
               </div>
                </div>


               <div *ngIf="sendotp" >
                <div *ngIf="!verifyotp"  class=" row justify-content-center">
                <div class="col-md-8">
                  <div class="ft-input-label">OTP</div>
                    <input type="password"   class="ft-input-value" />
                    <span class="material-icons eye-icon">remove_red_eye</span>
                    <a href="" class="forget_link  px-2" style="float: right;">Re-send OTP</a>
                </div>

                <div class="text-center ">
                  <button   class="btn-primary brand-bg-primary" (click)="Verifyotp()">Verify OTP</button>
               </div>
                </div>
               </div>


               <div class="row  justify-content-center" *ngIf="verifyotp">
                <div class="col-md-8 pt-2">
                  <div class="ft-input-label">New Password</div>
                    <input type="password"  class="ft-input-value" />
                    <span class="material-icons  eye-icon">remove_red_eye</span>
                </div>

                <div class="col-md-8 pt-4">
                  <div class="ft-input-label">Confirm New Password</div>
                    <input type="password"  class="ft-input-value" />
                    <span class="material-icons  eye-icon">remove_red_eye</span>
                </div>
                <div class="text-center pt-3">
                  <button   class="btn-primary brand-bg-primary">Change Password</button>
               </div>
               </div>

              </div>

        </div>
    </div>
</div>
