<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>



<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
            <div class="text-center  ft-head">
                PROFILE
            </div>

            <div class="ft-desc  pt-3">
                Investor’s will receive an OTP via SMS/Email which will be valid for 24 hours and will need to share with AMC RM / 
                Distributor RM to provide access to investor profile
            </div>

            <div class="row justify-content-center pt-3">
                              
                <div class="col-md-3 ft-heading-md">
                    PAN
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                              
                <div class="col-md-3 ft-heading-md">
                    FULL NAME
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                              
                <div class="col-md-3 ft-heading-md">
                    MOBILE NUMBER
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="row justify-content-center pt-3">
                              
                <div class="col-md-3 ft-heading-md">
                    EMAIL ADDRESS
                </div>
                <div class="col-md-4">
                    <input type="text" class="ft-input-value" />
                </div>
            </div>

            <div class="text-center pt-4">
                <button class="ft-button-primary">Send OTP</button>
            </div>

        </div>
    </div>
</div>


<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
              
            <div class="row col-md-12">

                <div class="col-md-6">
                    <img src="../../assets/images/otp.webp" alt="loading..." style="width: 100%;height:auto"/>
                </div>

                <div class="col-md-6 mt-5">


                      <div class="text-center">
                        PERMISSION REQUEST
                      </div>
                      <div class="ft-desc pt-3">
                        Review the basic investor details and request permission if required to get access to investor profile
                      </div>

                   <div class="row justify-content-center pt-3">
                              
                    <div class="col-md-4 ft-heading-md">
                        PAN
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="ft-input-value" />
                    </div>
                </div>

                <div class="row justify-content-center pt-3">
                              
                    <div class="col-md-4 ft-heading-md">
                        FULL NAME
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="ft-input-value" />
                    </div>
                </div>
    
                <div class="row justify-content-center pt-3">
                                  
                    <div class="col-md-4 ft-heading-md">
                        MOBILE NUMBER
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="ft-input-value" />
                    </div>
                </div>
    
                <div class="row justify-content-center pt-3">
                                  
                    <div class="col-md-4 ft-heading-md">
                        EMAIL ADDRESS
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="ft-input-value" />
                    </div>
                </div>

                <div class="row justify-content-center m-auto pt-3">
                    <div class="col-md-12 ft-checkbox">
                           <label class="ft-desc pl-1">
                            I am hereby authorised by the investor to have access to there profile and permitted to 
                            use the profile for financial investment purposes
                                  <input type="checkbox" class="checkbox">
                                  <span class="checkmark"></span>
                           </label>
                </div>
             </div>

                <div class="text-center pt-4 pb-3">
                    <button class="ft-button-primary">Send OTP</button>
                </div>

                <div class="ft-desc">
                    Please enter OTP shared by your Investor.
                </div>
                
                <ng-otp-input #ngOtpInput [config]="{length:6}" class="otp-field">
              
                </ng-otp-input>

                <div class="text-center pt-3">
                    <button class="ft-button-primary">Verify OTP</button>
                </div>

                </div>

               

             

            </div>

         </div>
    </div>
</div>

<app-footer></app-footer>
