<!-- 
<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar> -->



<div class="row justify-content-center page-container">
    <div class="col-md-10 border-0 card ft-card-center p-0" style="margin-top:20px;">
       
        <div class="card-body">
             <div class="text-center ft-head">
                My Investor 
             </div>
             <div class="text-center ft-desc mb-3 pt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae quam euismod, imperdiet erat et, placerat augue. Morbi risus massa, viverra quis elit eu, porttitor hendrerit lectus. Integer suscipit nisl sed purus
            </div>

            <!-- <input list="brow" class="ft-search-input">
            <datalist id="brow">
              <option value="Internet Explorer">
              <option value="Firefox">
              <option value="Chrome">
              <option value="Opera">
              <option value="Safari">
            </datalist>  -->

            <div class="search" (click)="searchbox()">
                <input type="search" class="search-input" placeholder="Enater Pan to Add Investor"/>
                <span class="material-icons search-icon">search</span>
            </div>

            <div class="searchbox" *ngIf="search">
                  <div class="" style="margin-left: 10px;padding: 10px 5px;">
                    <span class="search-result-message">Investor not found.</span>
                    <!-- <a href="basicdetail" class="pending"> </a> -->
                  </div>
                  <div class="float-right mr-2">
                    <a href="basicdetail" class="hyperlink">Add Investor</a>
                    <br>
                    <a href="permission" class="hyperlink" >Verify Investor</a>
                  </div>
            </div>
      

            <span class="material-icons upload-icon">backup</span>

          

            <table  id="example" class="display nowrap table pb-3" style="width:100%">
    <thead>
        <tr>
            <th>PAN</th>
            <th>NAME</th>
            <th>START DATE</th>
            <th>REL.STATUS</th>
            <th>INV.STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CURPA1355D</td>
            <td class="name">System Architect</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge in-progress">Progress</span></td>
            <!-- <td><span class="badge completed">Completed</span></td> -->
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td class="name">Accountant</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td class="name">Junior Technical Author</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td class="name">Senior Javascript Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Accountant</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Integration Specialist</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Sales Assistant</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Integration Specialist</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Javascript Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Software Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Office Manager</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Support Lead</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Regional Director</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Senior Marketing Designer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Regional Director</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Marketing Designer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Chief Financial Officer (CFO)</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Systems Administrator</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Software Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Personnel Lead</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Development Lead</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Chief Marketing Officer (CMO)</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Pre-Sales Support</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Sales Assistant</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Chief Executive Officer (CEO)</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Regional Director</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Software Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Chief Operating Officer (COO)</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Regional Marketing</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Integration Specialist</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Technical Author</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Team Leader</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Post-Sales support</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Marketing Designer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Office Manager</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Secretary</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Financial Controller</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Office Manager</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Director</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Support Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Software Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Support Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Support Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Data Coordinator</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Software Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Software Engineer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span class="badge completed">Completed</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Junior Javascript Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Sales Assistant</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Regional Director</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Systems Administrator</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Regional Director</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span class="badge in-progress">In-Progress</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Javascript Developer</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
        <tr>
            <td>CURPA1355D</td>
            <td>Customer Support</td>
            <td><span>25-11-2022</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span class="badge approved">Approved</span></td>
            <td><span>
                <select class="ft-action">
                    <option>Action</option>
                    <option>Action</option>
                    <option>Action</option>
                </select>
            </span></td>
        </tr>
    </tbody>
   
</table>




</div>
</div>
</div>
<app-footer></app-footer>



