
<div class="sidebar">
    <ul>
        <!-- <li><span class="material-icons sidenav-icon"  >apps</span></li>
        <li><span class="material-icons sidenav-icon" >home</span></li>
        <li><span class="material-icons sidenav-icon" >grid_view</span></li>
        <li><span class="material-icons sidenav-icon-settings">settings</span></li> -->

        <a><li><span class="material-icons sidenav-icon"  >apps</span></li></a>
        <a><li><span class="material-icons sidenav-icon" >home</span></li></a>
        <a><li><span class="material-icons sidenav-icon" >grid_view</span></li></a>
        <a><li><span class="material-icons sidenav-icon-settings">settings</span></li></a>
       
    </ul>
</div>
