<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>

<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body">
            <div class="text-center  ft-head">
                KRA Verification
            </div>
            <div class="text-center pt-2 ft-desc">
                Begin your KYC verification process by consenting to fetch any KYC data that is available
                 with the bank or from KYC Registered Agency
            </div>

            <div class="row justify-content-center pt-3">
           
                <div class="col-md-3 ft-heading-md">
                    PAN <span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-3">
                  FGH34567MVB
                </div>
            </div>

            <div class="row justify-content-center pt-3">
          
                <div class="col-md-3 ft-heading-md">
                    DATE OF BIRTH<span class="red-required text-danger"> *</span>
                </div>
                <div class="col-md-3">
                   20-05-1996
                </div>
            </div>

            <div class="row justify-content-center m-auto pt-3">
                <div class="col-md-12 ft-checkbox">
                       <label class="ft-desc pl-1">
                              I acknowledge that the ‘Person/Individual’ in the PAN card proof uploaded is me and the information extracted is correct. Also, I acknowledge that the aforesaid details are correct.
                              <input type="checkbox" class="checkbox">
                              <span class="checkmark"></span>
                       </label>
            </div>
         </div>

         <div class="text-center pt-4">
            <button class="ft-button"><a href="kycinfo">Select</a></button>
        </div>

         <hr />

         <div class="ft-note-heading">
            Note:
        </div>
        <div class="ft-note-desc1">
            To Know more about the process , <span><a href="#">click here</a></span>
        </div>


        </div>
    </div>
</div>

<app-footer></app-footer>