<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
            <div class="text-center  ft-head">
                Application Quick View 
            </div>

            <div class="ft-desc text-center  pt-3">
                This section allows you to upload the documents associated to the customer profile.
            </div>

           <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="row pt-3">
                    <div class="col-md-3 ft-share-button">
                        Share Profile
                    </div>
                    <div class="col-md-3 ft-link-button">
                        Link Profile
                    </div>
                </div>
            </div>
           
           </div>

           <hr />


            <div class="row justify-content-center pt-3">
                <div class="col-md-6">
                    <div class="row justify-content-center">

                      <div class="col-md-4 ft-heading-md">
                            PAN <span class="red-required text-danger">*</span>
                      </div>

                        <div class="col-md-7">
                            FGH34567MVB
                        </div>

                    </div>
                     
                </div>

                <div class="col-md-6">
                    <div class="row justify-content-center">

                      <div class="col-md-4 ft-heading-md">
                        DATE OF BIRTH  <span class="red-required text-danger">*</span>
                      </div>

                        <div class="col-md-7">
                            20-01-2020
                        </div>
                        
                    </div>
                     
                </div>

            </div>

            
            <div class="row justify-content-center pt-4">
                <div class="col-md-6">
                    <div class="row justify-content-center">

                      <div class="col-md-4 ft-heading-md">
                        FULL NAME  <span class="red-required text-danger">*</span>
                      </div>

                        <div class="col-md-7">
                           Sundar 
                        </div>

                    </div>
                     
                </div>

                <div class="col-md-6">
                    <div class="row justify-content-center">

                      <div class="col-md-4 ft-heading-md">
                        MOBILE NUMBER   <span class="red-required text-danger">*</span>
                      </div>

                        <div class="col-md-7">
                           +91 9374747477
                        </div>
                        
                    </div>
                     
                </div>

            </div>

            <div class="row justify-content-center pt-4">
                <div class="col-md-6">
                    <div class="row justify-content-center">

                      <div class="col-md-4 ft-heading-md">
                        EMAIL ADDRESS   <span class="red-required text-danger">*</span>
                      </div>

                        <div class="col-md-7">
                           Sundar 
                        </div>

                    </div>
                     
                </div>

                <div class="col-md-6">
                  
                     
                </div>

            </div>

            <hr />


        </div>
    </div>
</div>
