<!-- <app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar> -->

<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-10 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
            <div class="text-center  ft-portlet-title">
                Application Quick View
            </div>

            <div class="ft-portlet-title-desc text-center  pt-3">
                This section allows you to upload the documents associated to the customer profile.
            </div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="row pt-3 float-end">
                        <div class="col-md-3 btn-secondary ft-share">
                            Share Profile
                        </div>
                        <div class="col-md-3 btn-primary ft-link">
                            link Profile
                        </div>
                    </div>
                </div>

            </div>

            <div class="seperator"></div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">PAN <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit ft-form-value">
                                    FGH34567MVB
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label"> Date of Birth <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                   20-05-1996
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">  Full Name<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit ft-form-value">
                                   Sundar
                                </div>
                            </div>
                      
                </div>
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label"> Mobile Number <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit ft-form-value">
                                    FGH34567MVB
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label"> Email Address<span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                   20-05-1996
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
             
                      
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-10 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">

            
            <div class="btn-primary float-end">
                Submit
            </div>
            <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="start">
                <mat-tab label="KYC">
                    <app-kyc-information></app-kyc-information>
                </mat-tab>
                <mat-tab label="PROFILE">
                    <app-kyc></app-kyc>
                </mat-tab>
                <mat-tab label="DOCUMENT">
                    <app-document></app-document>
                </mat-tab>
                   
            </mat-tab-group>

        </div>
    </div>
</div>

<app-footer></app-footer>