<!-- <app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar> -->

<div class="row justify-content-center page-container">
    <div class="col-md-10 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">
            <div class="text-center  ft-head">
                Application Quick View
            </div>

            <div class="ft-desc text-center  pt-3">
                This section allows you to upload the documents associated to the customer profile.
            </div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="row pt-3" style="margin-left: 55px;">
                        <div class="col-md-3 ft-button-secondary ft-share">
                            Share Profile
                        </div>
                        <div class="col-md-3 ft-button-primary ft-link">
                            Link Profile
                        </div>
                    </div>
                </div>

            </div>

            <div class="seperator"></div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">PAN <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit ft-form-value">
                                    FGH34567MVB
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">DATE OF BIRTH <span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                   20-05-1996
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">  FULL NAME<span class="red-required text-danger">
                                        *</span> </div>
                                <div class="ft-input-edit ft-form-value">
                                   Sundar
                                </div>
                            </div>
                      
                </div>
            </div>


            <div class="row  pt-3">

                <div class="col-md-4">
                            <div class="group">
                                <div class="ft-input-label">MOBILE NUMBER <span class="red-required text-danger"> *</span></div>
                               
                                <div class="ft-input-edit ft-form-value">
                                    FGH34567MVB
                                </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                            <div class="group">
                                <div class="ft-input-label">EMAIL ADDRESS<span class="red-required text-danger"> *</span>
                                </div>
                                <div class="ft-input-edit ft-form-value">
                                   20-05-1996
                                </div>
                          
                    </div>
                </div>

                <div class="col-md-4">
             
                      
                </div>
            </div>

         


        </div>
    </div>
</div>


<div class="row justify-content-center page-container">
    <div class="col-md-10 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body mb-3">

            
            <div class="ft-button-primary float-right">
                Submit
            </div>
            <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="start">
                <mat-tab label="KYC">
                    <app-kyc-information></app-kyc-information>
                </mat-tab>
                <mat-tab label="PROFILE">
                    <app-kyc></app-kyc>
                </mat-tab>
                <mat-tab label="DOCUMENT">
                    <app-document></app-document>
                </mat-tab>
                   
            </mat-tab-group>

        </div>
    </div>
</div>

<app-footer></app-footer>