<div class="row justify-content-center ft_login_wrapper">
    <div class="border-0 card ft-card-center p-0 ft_login_container" >
        <div class="login-body mb-3">
          <div class="text-center pt-3">
            <img class="" src="../../../assets/images/logo.png" alt="loading.." />
          </div>
          
            <div class="text-center pt-3 ft-portlet-title brand-text-color">
                OTP Verification
              </div>

              <div class="text-center pt-2 ft-portlet-title-desc brand-text-desc-color">
                Enter OTP to verify your account
            </div>

              <div class="row justify-content-center pt-3">

                <div class="col-md-8">
                    <input type="password" placeholder="OTP"  class="ft-input-value" />
                    <span class="material-icons eye-icon">remove_red_eye</span>
                    <a href="" class="forget_link  px-2" style="float: right;"
                    >Re-send OTP</a
                  >
                </div>


              </div>

              <div class="text-center pt-3">
                <button   class="btn-primary brand-bg-primary">Verify OTP</button>
             </div>
              
           
        </div>
    </div>
</div>
