
<div id="ft_header" class="ft-header-navbar">
    
    <div class="ft-portlet-titleer__brand  mb-auto mt-auto ft-grid__item d-flex" >
        <div class="ft_burger_menu">
           
        </div>
       
        <!-- <span class="material-icons"  >dashboard</span> (click)="openonclick()" -->
        <div class="">
       
            <!-- <a style="cursor: pointer;" >
                <img alt="Logo" src="../../assets/images/brand-logo-trans.png" height="44" width="auto"
                    class="ft-portlet-titleer__brand-logo-default ml-3">
            </a> -->
            <!-- ICICI Bank -->
            <img src="../../assets/images/headerLogo.png" alt="loading..."  class="headerlogo"/>
        </div>
    </div>
   
    <!-- begin:: Header Topbar -->
    <!-- begin:: Header Topbar -->

     
        <div class="ft-portlet-titleer__topbar-wrapper">
            <span class="material-icons header-profile-icon"  >account_circle</span> 
         </div>
</div>


<!-- <ng-sidebar-container >


    <ng-sidebar   [(opened)]="opened">
      <p class="side">Sidebar contents</p>
    </ng-sidebar>

    
    <div ng-sidebar-content>
     
    </div>

  </ng-sidebar-container> -->