
<div id="ft_header" class="ft-header">
    
    <div class="ft-header__brand  mb-auto mt-auto ft-grid__item d-flex" >
        <div class="ft_burger_menu">
           
        </div>
       
        <!-- <span class="material-icons"  >dashboard</span> (click)="openonclick()" -->
        <div class="ft-header__brand-logo">
       
            <!-- <a style="cursor: pointer;" >
                <img alt="Logo" src="../../assets/images/brand-logo-trans.png" height="44" width="auto"
                    class="ft-header__brand-logo-default ml-3">
            </a> -->
            ICIC Bank
        </div>
    </div>
   
    <!-- begin:: Header Topbar -->
    <!-- begin:: Header Topbar -->

     
        <div class="ft-header__topbar-wrapper">
            <span class="material-icons header-profile-icon"  >account_circle</span> 
         </div>
</div>


<!-- <ng-sidebar-container >


    <ng-sidebar   [(opened)]="opened">
      <p class="side">Sidebar contents</p>
    </ng-sidebar>

    
    <div ng-sidebar-content>
     
    </div>

  </ng-sidebar-container> -->