<!-- <app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar> -->


  <!-- Stepper 2 -->

  <!-- <div class="stepper">
  <div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">

        <li class="c-stepper__item status-active">
            <h3 class="c-stepper__title">KYC</h3>

        </li>
        <li class="c-stepper__item status-inactive underline">
            <h3 class="c-stepper__title">Profile</h3>

        </li>
        <li class="c-stepper__item status-inactive underline">
            <h3 class="c-stepper__title">Documents</h3>

        </li>
    </ol>
</div>
  </div> -->


    <div class="stepper-section">
        <div class="row col-md-5 d-flex m-auto stepper_btn">
           <div class="col-md-3">
                <a href="basicdetail">
                    <button type="button" class="btn btn-stepper">
                        Basic Details
                    </button>
                </a>
           </div>
           <div class="col-md-3">
                <a href="kyc1">
                    <button type="button" class="btn btn-stepper  stepper-active">
                        KYC
                    </button>
                </a>
            </div>
           <div class="col-md-3">
                <a href="kyc">
                    <button type="button" class="btn btn-stepper">
                        Profile
                    </button>
                </a>
                
          </div>
           <div class="col-md-3">
            <a href="document">
                <button type="button" class="btn btn-stepper">
                    Document
                </button>
            </a>
           </div>
        </div>
    </div>
  

<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body">
            <div class="text-center  ft-portlet-title brand-text-color">
              KYC Details
            </div>
            <div class="text-center pt-2 ft-portlet-title-desc brand-text-desc-color">
              Know Your Client' (KYC) is a 
              regulatorily mandated process for all 
              capital market participants. KYC is 
              the process of identifying and 
              verifying the investor’s identity, before 
              onboarding them for investments in 
              any financial instrument.
              There are multiple options/modes 
              available to complete the KYC 
              process for each investor. You can 
              choose to complete the KYC using 
              one or more modes
            </div>

            <div class="ft-section-heading brand-text-color">
              KYC Modes
            </div>
          



            <table class="table table- ">
                <thead>
                  <tr class="ft-table-head">
                    <th scope="col">Type</th>
                    <th scope="col">PAN</th>
                    <th scope="col">Full Name</th>
                    <th scope="col"> Date of Birth</th>
                    <th scope="col"> Status</th>
                    <th scope="col">Last Fetch Date</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  <tr class="ft-table-body">
                    <th scope="row">KYC<span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                    <td>SUNDAR</td>
                    <td>20-05-1996</td>
                    <td><a href="kra"  class="hyperlink">PENDING</a></td>
                    <td>10-02-2023</td>
                    <td>
                      <!-- <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <span class="material-icons dot-icon">more_horiz</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">View Details</a></li>
                          <li><a class="dropdown-item" href="#">Re-fetch KYC</a></li>
                        </ul>
                      </div> -->
                      <div class="d-flex">
                        <span title="View Details" class="material-icons action-icon">remove_red_eye</span>
                        <span title="Re-fetch KYC" class="material-icons action-icon">undo</span>
                      </div>
                    </td>
                  </tr>


                  <tr class="ft-table-body">
                    <th scope="row">CKYC<span class="red-required text-danger"></span></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a>[COMING SOON]</a></td>
                    <td>10-02-2023</td>
                    <td>
                      <!-- <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <span class="material-icons dot-icon">more_horiz</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">View Details</a></li>
                          <li><a class="dropdown-item" href="#">Re-fetch KYC</a></li>
                        </ul>
                      </div> -->
                      <div class="d-flex">
                        <span title="View Details" class="material-icons action-icon">remove_red_eye</span>
                        <span title="Re-fetch KYC" class="material-icons action-icon">undo</span>
                      </div>
                    </td>
                  </tr>

                  <tr class="ft-table-body">
                    <th scope="row">CKYC<span class="red-required text-danger"></span></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a>[COMING SOON]</a></td>
                    <td>10-02-2023</td>
                    <td>
                      <!-- <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <span class="material-icons dot-icon">more_horiz</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">View Details</a></li>
                          <li><a class="dropdown-item" href="#">Re-fetch KYC</a></li>
                        </ul>
                      </div> -->
                      <div class="d-flex">
                        <span title="View Details" class="material-icons action-icon">remove_red_eye</span>
                        <span title="Re-fetch KYC" class="material-icons action-icon">undo</span>
                      </div>
                    </td>
                  </tr>
                 
                </tbody>
              </table>


              <div class="note-section pt-0">
                <div class="ft-note brand-text-color">
                  Note:
                 </div>
                <ul class="ft-note-desc brand-text-desc-color" style="padding-left: 18px;">
                    <li>Investor KYC data will be in view - only format in i360
                    </li>
                    <li>KYC data will be fetched during 
                      the onboarding journey for the 
                      respective application types</li>
                </ul>
              </div>

            <div class="text-center">
                <a href="kra"><button class="btn-primary brand-bg-primary">Proceed</button></a>
            </div>

           

           

        </div>
    </div>
</div>

<app-footer></app-footer>