<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>


  <!-- Stepper 2 -->

  <!-- <div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Basic Details</h3>
        
      </li>
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Kyc</h3>
      
      </li>
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Profile</h3>
     
      </li>
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Documents</h3>
     
      </li>
    </ol>
  </div> -->

  

<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body">
            <div class="text-center  ft-head">
               KYC
            </div>
            <div class="text-center pt-2 ft-desc">
                KYC is done to verify the identity of an investor before onboarding with AMC(s) for any financial investments.
            </div>

            <div class="ft-sub-heading">
                MODE OF FETCH
            </div>
            <hr />



            <table class="table table-borderless">
                <thead>
                  <tr class="table-head">
                    <th scope="col">TYPE</th>
                    <th scope="col">PAN</th>
                    <th scope="col">HOLDER NAME</th>
                    <th scope="col"> BOB</th>
                    <th scope="col"> STATUS</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  <tr class="table-body">
                    <th scope="row">KYC<span class="red-required text-danger"></span></th>
                    <td>FCVPR6576M</td>
                    <td>SUNDAR</td>
                    <td>20-05-1996</td>
                    <td><a href="kra">PENDING</a></td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>


                  <tr class="table-body">
                    <th scope="row">CKYC<span class="red-required text-danger"></span></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a>[Comming Soon]</a></td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>

                  <tr class="table-body">
                    <th scope="row">CKYC<span class="red-required text-danger"></span></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a>[Comming Soon]</a></td>
                    <td><span>
                        <select class="ft-action">
                            <option>Action</option>
                            <option>Action</option>
                            <option>Action</option>
                        </select>
                    </span></td>
                  </tr>
                 
                </tbody>
              </table>

            <div class="text-center pt-4">
                <button class="ft-button-primary"><a>Proceed</a></button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="row pt-2">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                    KRA fetch using K1 Widget (Default) 
                   
                </div>
            </div>

          
            <div class="row pt-1">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                   More than one KRA fetch is permitted
                </div>
            </div>


        </div>
    </div>
</div>

<app-footer></app-footer>