<app-headernavbar></app-headernavbar>
<app-sidenavbar></app-sidenavbar>



<div class="row justify-content-center page-container">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body">
            <div class="text-center  ft-head">
               Kyc
            </div>
            <div class="text-center pt-2 ft-desc">
                KYC is done to verify the identity of an investor before onboarding with AMC(s) for any financial investments.
            </div>

            <div class="row mt-4 justify-content-center">
                <div class="col-md-4 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom">KRA fetch using K1 Widget</label>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="FIRSTHOLDER" >
                        <label class="form-check-label ft-radio-custom ">KRA fetch using CKYC</label><br />
                    </div>
                  
                </div>

                <div class="col-md-4 text-center">
                    <div class="form-check form-check-inline"> 
                        <input  class="form-check-input ft-radio-custom" type="radio" value="ONEHOLDER"  >
                        <label class="form-check-label ft-radio-custom ">
                            Data fetch for PAN from entity
                        </label>
                    </div> 
                </div>
           
               
            </div>

            <div class="text-center pt-4">
                <button class="ft-button"><a href="kra">Select</a></button>
            </div>

            <hr />

            <div class="ft-note-heading">
                Note:
            </div>
            <div class="row pt-2">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                    KRA fetch using K1 Widget (Default) 
                   
                </div>
            </div>

          
            <div class="row pt-1">
                <div class="col-md-1">
                    &#9679; 
                </div>
                <div class="col-md-11 ft-note-desc">
                   More than one KRA fetch is permitted
                </div>
            </div>


        </div>
    </div>
</div>

<app-footer></app-footer>