<div class="row justify-content-center ft-portlet-body">
    <div class="col-md-8 border-0 card ft-card-center p-0" style="margin-top:20px;">
        <div class="card-body">

  <!-- <nav>
  <ul class="menu">
    <li class="dropdown dropdown-8">
      TranslateZ
      <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-8">
        <li class="dropdown_item-1">Item 1</li>
        <li class="dropdown_item-2">Item 2</li>
       
      </ul>
    </li>
   
  </ul>
</nav> -->

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">view</a></li>
    <li><a class="dropdown-item" href="#">Delete</a></li>
  </ul>
</div>

      

        

        </div>
    </div>
</div>
